{% extends "page.njk" %}
{% block pageTitle %}Accessibility statement - {{ super() }}{% endblock %}

{% block innerContent %}
    <h1 class="govuk-heading-xl">Accessibility Statement</h1>
    <p class="govuk-body">Accessibility statement information should go here!</p>
{% endblock %}
