{% extends "page.njk" %}
{% block pageTitle %}Contact us - {{ super() }}{% endblock %}

{% block innerContent %}
    <h1 class="govuk-heading-xl">Contact</h1>
    <p class="govuk-body">Contact information should go here!</p>
    {% include "contact.njk" %}
{% endblock %}
