{% extends "page.njk" %}
{% block pageTitle %}Cookies - {{ super() }}{% endblock %}

{% block innerContent %}
    <h1 class="govuk-heading-xl">Cookies</h1>
    <p class="govuk-body">Cookie information should go here!</p>
{% endblock %}
