{% extends "page.njk" %}
{% block pageTitle %}Signed out{% endblock %}
{% block innerContent %}
  <h1 class="govuk-heading-l">You have signed out</h1>
  {% if caseReferenceNumber %}
    <p class="govuk-body">
      <strong>
        <a class="govuk-link govuk-!-font-weight-bold" href="/search?caseReferenceNumber={{ caseReferenceNumber }}">
          Sign in
        </a>
      </strong>
      again to view case <span class="govuk-!-font-weight-bold">{{ caseReferenceNumber }}.</span>
    </p>
  {% endif %}
{% endblock %}
