{% extends "page.njk" %}
{% block pageTitle %}Case select - {{ super() }}{% endblock %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block innerContent %}
    <form method="post" action="/case">
        {{ govukDateInput({
            id: "crn",
            namePrefix: "crn",
            fieldset: {
                legend: {
                    text: "Case Reference Number",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                }
            },
            hint: {
                text: "For example, 24 123456"
            },
            items: [
                {
                    name: 'prefix',
                    label: 'Year',
                    classes: 'govuk-input--width-2',
                    value: '23',
                    attributes: {
                        'maxlength': '2'
                    }
                },
                {
                    name: 'suffix',
                    label: 'Unique ID',
                    classes: 'govuk-input--width-4',
                    value: '123456',
                    attributes: {
                        'maxlength': '6'
                    }
                }
            ],
            formGroup: {
                afterInputs: {
                    html: govukButton({
                        text: "Find case",
                        classes: "govuk-!-margin-top-6"
                    })
                }
            }
        }) }}

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    </form>
{% endblock %}
