{% extends "page.njk" %}
{% block pageTitle %}Login{% endblock %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block innerContent %}

  {% if usernameError or passwordError %}
    {% if usernameError and passwordError %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { href: "#username", text: usernameError },
          { href: "#password", text: passwordError }
        ]
      }) }}
    {% elif usernameError %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { href: "#username", text: usernameError }
        ]
      }) }}
    {% elif passwordError %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          { href: "#password", text: passwordError }
        ]
      }) }}
    {% endif %}
  {% endif %}

  <h1 class="govuk-heading-l">Sign in</h1>
  <form method="POST" action="/auth/login" autocomplete="off" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% if usernameError %}
      {{ govukInput({
        label: { text: "Username" },
        id: "username",
        name: "username",
        autocomplete: "username",
        spellcheck: false,
        classes: "govuk-input--width-20",
        value: username or "",
        errorMessage: { text: usernameError }
      }) }}
    {% else %}
      {{ govukInput({
        label: { text: "Username" },
        id: "username",
        name: "username",
        autocomplete: "username",
        spellcheck: false,
        classes: "govuk-input--width-20",
        value: username or ""
      }) }}
    {% endif %}

    {% if passwordError %}
      {{ govukInput({
        label: { text: "Password" },
        id: "password",
        name: "password",
        type: "password",
        autocomplete: "current-password",
        spellcheck: false,
        classes: "govuk-input--width-20",
        value: "",
        errorMessage: { text: passwordError }
      }) }}
    {% else %}
      {{ govukInput({
        label: { text: "Password" },
        id: "password",
        name: "password",
        type: "password",
        autocomplete: "current-password",
        spellcheck: false,
        classes: "govuk-input--width-20",
        value: ""
      }) }}
    {% endif %}

    {{ govukButton({ text: "Sign in" }) }}
  </form>
{% endblock %}
