{% extends "page/page.njk" %}

{% block title %}Document - Page {{ pageNumber }} - CICA FIND - GOV.UK{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% block innerContent %}
 
{{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}

  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>


{{ mojSubNavigation({
  label: "Sub navigation",
  items: [{
    text: "Document image",
    active: true,
    href: '#'

  }, {
    text: "Document text",
    active: false,
    href: textPageLink
  }]
}) }}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% if imageUrl %}
            <div class="document-image-container" id="documentImageContainer">
                <img 
                  src="{{ imageUrl }}" 
                  alt="Page {{pageNumber}} from a {{pageTitle}} document, for case {{caseReferenceNumber}}" 
                  class="document-image"
                  id="documentImage">
                
                {% for chunk in pageChunks %}
                  {% if chunk.bounding_box %}
                    {# TODO: 
                      this inline style works because we're not explicitly blocking inline styles. If "style-src" 
                      is restricted in future, we need to ensure this dynamic style can still be applied.
                    #}
                    <div
                      class="chunk-overlay" 
                      data-chunk-id="{{ chunk.chunk_id }}"
                      data-chunk-type="{{ chunk.chunk_type }}"
                      style="left: {{ (chunk.bounding_box.left * 100) | round(2) }}%; top: {{ (chunk.bounding_box.top * 100) | round(2) }}%; width: {{ (chunk.bounding_box.width * 100) | round(2) }}%; height: {{ (chunk.bounding_box.height * 100) | round(2) }}%;">
                    </div>
                  {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                  Page IMAGE not available
              </strong>
            </div>
        {% endif %}
      </div>
  </div>

{% endblock %}
