{% extends "page/page.njk" %}

{% block title %}Document - Page {{ pageNumber }} - CICA FIND - GOV.UK{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "moj/components/pagination/macro.njk" import mojPagination %}

{% block innerContent %}

{{ govukBackLink({
  text: "Back",
  attributes: {
    "data-module": "govuk-back-link"
  },
  href: "#"
}) }}


  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>


{{ mojSubNavigation({
  label: "Sub navigation",
  items: [{
    text: "Document image",
    active: false,
    href: imagePageLink
  }, {
    text: "Document text",
    active: true,
    href: '#'
  }]
}) }}

{% if showPagination %}
 {{ mojPagination({
  items: paginationData.items,
  results: paginationData.results,
  previous: paginationData.previous,
  next: paginationData.next,
  landmarkLabel: "pagination-top"
 }) }}
{% endif %}

<div class="ocr-text-line-spacing">
  <p class="govuk-body">
     {%- for segment in pageTextSegments -%}
       {%- if segment.isHighlight -%}<mark class="hods-highlight"><strong>{{ segment.text }}</strong></mark>{%- else -%}{{ segment.text }}{%- endif -%}
     {%- endfor -%}
    {# do not set "autoescape" to false and do not add "| safe" to OCR text as it may contain untrusted content #}
  </p>
</div>

{% if showPagination %}
{{ mojPagination({
  items: paginationData.items,
  results: paginationData.results,
  previous: paginationData.previous,
  next: paginationData.next,
  landmarkLabel: "pagination-bottom"
 }) }}
{% endif %}

{% endblock %}
