@use "node_modules/govuk-frontend/dist/govuk/helpers/media-queries" as govuk;

.govuk-tag.govuk-tag--handwriting {
    margin-top: 1rem;
}

@include govuk.govuk-media-query($from: tablet) {
    .govuk-tag.govuk-tag--handwriting {
        float: right;
        margin-left: 1rem;
        margin-top: 0;
    }
}