{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<form method="post">
    {% call govukFieldset({
        legend: {
            text: "Search",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
        }
    }) %}

        <p class="govuk-body">You can access all the medical documents for your cases here.</p>

        <h2 class="govuk-heading-l">How to use this tool</h2>
        <p class="govuk-body">You can search using:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>a word, like 'jaw'</li>
            <li>a phrase, like 'knee injuries'</li>
            <li>a whole question, like 'What injuries did the applicant have?'</li>
        </ul>

        <p class="govuk-body">If you search for 'jaw', for example, it will find similar words like 'mandible'.</p>
        <p class="govuk-body">The tool might not find all the information you need, so you might have to check the document manually.</p>

        {{ govukInput({
            label: {
                text: "Search",
                classes: "govuk-fieldset__legend--l"
            },
            id: "q",
            name: "q"
        }) }}

        {{ govukButton({
            text: "Search"
        }) }}
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% endcall %}
</form>