@use "node_modules/@ministryofjustice/frontend/moj/components/identity-bar/identity-bar";

.moj-identity-bar.moj-identity-bar--nested-moj-sub-navigation {
    padding-bottom: 0;

    .moj-sub-navigation {
        float: right;
        margin-bottom: 0;
    }
}