{% extends "layout.njk" %}
{% from "moj/components/banner/macro.njk" import mojBanner %}
{% from "moj/components/header/macro.njk" import mojHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "components/cica/identity-bar-with-sub-nav/macro.njk" import cicaIdentityBarWithSubNav %}

{% block pageTitle %}CICA FIND - GOV.UK{% endblock %}
{% block head %}
    <link href="/stylesheets/all.css?v={{APP_VERSION}}&c={{APP_BUILDTIME_ID}}" rel="stylesheet"/>
{% endblock %}

{% block header %}
    {{ mojHeader({
        organisationLabel: {
            text: 'CICA',
            href: '/search'
        },
        serviceLabel: {
            text: 'Find',
            href: '/search/'
        },
        navigation: {
            label: 'Account navigation',
            items: [{
                text: 'User One',
                href: '#',
                active: true
            }, {
                text: 'Sign out',
                href: '/auth/sign-out'
            }]
            }
    }) }}

    <div class="govuk-width-container">
        {% block innerHeader %}

            {{ cicaIdentityBarWithSubNav({
                title: {
                    html: ['<strong>CRN: ', (caseReferenceNumber | default('none selected')), '</strong>'] | join('')
                },
                subNav: {
                    label: "Case navigation",
                    items: [
                        {
                            text: "Search",
                            href: "/search",
                            active: pageType and ("search" in pageType)
                        },
                        {
                            text: "Documents",
                            href: "/document",
                            active: pageType and ("document" in pageType)
                        }
                    ]
                }
            }) }}
        {% endblock %}
    </div>
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% block innerContent %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block main %}
    {{ super() }}
    <section role="region" aria-label="beta banner">
    <div class="govuk-width-container govuk-!-margin-bottom-7">
        <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-0 govuk-section-break--visible">
        {{ govukPhaseBanner({
            tag: {
                text: "Beta"
            },
            html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
        }) }}
    </div>
    </section>
{% endblock %}

{% block bodyEnd %}
    {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
    <script nonce="{{ cspNonce }}">
        window.FIND = {};
    </script>
    <script nonce="{{ cspNonce }}" src="/js/bundle.js?v={{APP_VERSION}}&c={{APP_BUILDTIME_ID}}"></script>
{% endblock %}

{% block footer %}
<footer class="govuk-template__footer">
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://www.gov.uk/guidance/cica-privacy-notice",
            text: "Privacy"
          },
          {
            href: "/cookies",
            text: "Cookies"
          },
          {
            href: "/contact-us",
            text: "Contact"
          },
          {
            href: "/accessibility-statement",
            text: "Accessibility statement"
          }
        ]
      }
    }) }}
</footer>
{% endblock %}
